@font-face {
    font-family: 'ProximaNova';
    src: url(fonts/ProximaNova-Regular.woff) format('woff'), url(fonts/ProximaNova-Regular.woff2) format('woff2');
    font-weight: 400;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'ProximaNova', Arial,Sans-serif;
    font-weight: 400;
    font-size: 80px;
    line-height: 1.5;
    background: #000;
    width: 100%;
}
h3 {
    margin: 0;
}
/*.wrapper {
    min-width: 13em;
    background: #000;
}*/

.main_banner {
    background-image: url(../img/index-bg-01-2.jpg);
    height: 13em;
    background-size: cover;
    background-position: center 0;
    position: relative;
    text-align: left;
    overflow: hidden;
    background-repeat: no-repeat;
}

.main_banner__content {
    font-size: 80px;
    margin-top: 4em;
    margin-left: 57%;
    text-align: left;
    color: white;
}
h1 {
    font-size: 0.5em;
}

h3 {
    font-size: 0.3em;
    color: white;
}



.main_banner__content p {
    font-size: 0.24em;
    color: #757575;
}
@media screen and (max-width: 1024px){
    .main_banner {
        height: 100vw;
    }
    .main_banner__content {
        font-size: 80px;
        margin-top: 20%;
        margin-left: 57%;
        margin-right: 5%;
        text-align: left;
        color: white;
    }
    .main_banner__content img {
        width: 70%;
    }
        
    h3 {
        font-size: calc(0.1em + 1vw);
        color: white;
        margin: 1vw 0;
    }
        
    .main_banner__content p {
        font-size: calc(0.1em + 1vw);
        color: #757575;
    }
}

.section-02 {
    margin: 40px auto;
    text-align: center;
    display: flex;
    max-width: 960px;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.box_feature {
    position: relative;
    width: 2.7em;
    height: 2.4em;
    margin: 10px;
}

.box_feature img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.1em;
}
.title_feature {
    position: absolute;
    top: 0.6em;
    color: #757575;
    font-size: .2em;
    line-height: 1.2;
    width: 100%;
    padding: 0 5px;
}
@media screen and (max-width: 500px){
    .box_feature {
        position: relative;
        width: 45%;
        margin: 5px;
    }
    .title_feature {
        font-size: .16em;
    }
}

.section-03 {
    background-image: url(../img/section03_bg.jpg);
    height: 4em;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-03 h3{
    text-align: center;
    font-size: 0.4em;
}

@media screen and (max-width: 768px){
    .section-03 h3{
        font-size: 0.3em;
    }
}

.section-04 {
    background-image: url(../img/section04_bg.jpg);
    height: 10.93em;
    background-size: cover;
    background-position: center 0;
    overflow: hidden;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.text_wrap_color {
    width: 12.2em;
    margin: 0.1em auto 0;
}
.section-04 h3 {
    font-size: 0.4em;
    margin-top: 1.6em;
    background-image: linear-gradient(to right,red,#3170ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0 20px;
}
.section-04 p {
    font-size: 0.3em;
    color: white;
    padding: 0 20px;
}
@media screen and (max-width: 768px){
    .section-04 h3 {
        font-size: 0.3em;
        margin-top: 1.6em;
    }
    .section-04 p {
        font-size: 0.25em;
        color: white;
    }
}
.section-05 {
    max-width: 960px;
    position: relative;
    height: 10.93em;
}
.section-05__title {
    width: 12.2em;
    margin: 0.1em auto 0;
}
.section-05 h3 {
    font-size: 0.4em;
    margin-top: 1.6em;
    background-image: linear-gradient(to right,red,#3170ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    padding: 0 20px;
}
.section-05 p {
    font-size: 0.3em;
    color: white;
    padding: 0 20px;
}
.video_wrapper {
    position: relative
}
video {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    width: 12em;
}

.section-06 {
    position: relative;
}
.section-06__title {
    position: absolute;
    margin: 0 auto;
    top: 20px; left: 0; bottom: 0; right: 0;
    z-index: 5;
}
.section-06__title_wrap {
    max-width: 12.2em;
    margin: 0 20px;
    margin: 0 auto;
    padding: 0 20px;
}
.section-06__title_wrap h3 {
    font-size: 0.4em;
    background-image: linear-gradient(to right,red,#3170ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.section-06__title_wrap p {
    font-size: 0.25em;
    color: white;
}

.item {
    width: 1280px;
    height: 900px;
}
.item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
@media screen and (max-width: 768px){
    .section-06__title_wrap h3 {
        font-size: 0.3em;
    }
    .section-06__title_wrap p {
        font-size: 0.20em;
    }
    .item {
        width: 768px;
        height: 8em;
        padding-top: 240px;
    }
    .item img {
        max-height: 100vw;
    }
    
}               

.slider-3{
    position: relative;
    overflow: hidden;
    
}

.sim-slider-element img, .sim-slider_screen img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

  .sim-slider {
    min-width: 320px;
    margin: 0px auto;
    background-color: black;
  }
  
  /* General styles */
  .sim-slider {
    position: relative;
  }
  
  .sim-slider-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
  }
  
  .sim-slider-element {
    width: 100%;
    transition: opacity 0.05s ease-in;
    opacity: 0;
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    display: block;
  }
  
  
  div.sim-slider-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 3;
    text-align: center;
  }
  
  span.sim-dot {
    width: 7px;
    height: 7px;
    margin: 5px 10px;
    padding: 0;
    display: inline-block;
    background-color: black;
    border-radius: 5px;
    cursor: pointer;
  }
  @media screen and (max-width: 1240px){
    .sim-slider {
        padding-top: 120px;
    }
    .sim-slider-list {
        transform: scale(1.2);
    }
    div.sim-slider-dots {
        bottom: calc(-8vw);
    }
  }
  @media screen and (max-width: 768px){
    .sim-slider {
        padding-top: 250px;
    }
    .sim-slider-list {
        transform: scale(1.5);
    }
    div.sim-slider-dots {
        bottom: calc(-10vw);
    }
  }
  @media screen and (max-width: 480px){
    .sim-slider {
        padding-top: 390px;
    }
    .sim-slider-list {
        transform: scale(2);
    }
    div.sim-slider-dots {
        bottom: calc(-22vw);
    }
  }
